// 圆角大小
$border-radius-sm: 2px; // 小圆角，用于细小元素（如标签）
$border-radius-md: 4px; // 默认圆角，用于按钮、卡片等
$border-radius-lg: 8px; // 大圆角，用于模态框或大组件
$border-radius-xl: 12px; // 超大圆角，用于特殊设计元素
$border-radius-circle: 50%; // 圆形，用于头像或圆形按钮
$border-radius-none: 0; // 无圆角