//响应式设计
// --------------- 断点变量（响应式设计） ---------------
$breakpoint-xs: 576px; // 超小屏幕（如手机）
$breakpoint-sm: 768px; // 小屏幕（如平板）
$breakpoint-md: 992px; // 中等屏幕（如桌面）
$breakpoint-lg: 1200px; // 大屏幕
$breakpoint-xl: 1600px; // 超大屏幕