// --------------- 尺寸相关变量 ---------------
// 常用组件高度
$height-sm: 24px; // 小号高度（如小型按钮）
$height-md: 32px; // 默认高度（如标准按钮）
$height-lg: 40px; // 大号高度（如大型按钮）
$height-xl: 48px; // 超大高度（如表单输入框）
$height-xxl: 64px; // 超大高度（如头部尾部）

// 常用宽度
$width-btn-min:50px;
$width-sidebar: 240px; // 侧边栏宽度
$width-container: 1200px; // 容器最大宽度
$width-min: 320px; // 最小宽度（移动端适配）

